 a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    color: black;
    font-size: 20px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #c5c5c5; 
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 124px;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
}

.container_header {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    font-size: 20px;
}

.menu_list{
    display: flex;
    align-items: center;
    gap: 0 48px;
}

.menu{
    max-width: 703px;
    display: flex;
}

.user_actions{
    max-width: 90px;
    gap: 0 8px;
    display: flex;
    align-items: center;
}

.user_actions_item{
    max-width: auto;
    max-height: auto;
    display: flex;
}

.search{
    display: flex;
    align-items: center;
    max-width: 90px;
}

.search_item{
    max-width: auto;
    max-height: auto;
    display: flex;
}

.logo_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    transition: transform 0.3s ease;
}

.logo_item:hover{
    transform: scale(1.03);
}


/* MAIN */

.container {
    max-width: 1424px;
    margin: 0 auto;
}

/* TOP MAIN */

.top_main {
    max-width: 900px;
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_main_text {
    max-width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.top_main_text h1 {
    white-space: nowrap;
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

.top_main_text p {
    font-size: 20px;
    max-width: 238px;
    line-height: 1.5;
    color: #000;
    text-align: center;
}
.top_main_text h1,
.top_main_text p {
    margin: 0;
}

.top_main_text img {
    width: 225px;
    height: 76px;
    display: inline-block;
    
    transition: transform 0.3s ease;
}
.top_main_text img:hover{
    transform: scale(1.03);
}

.top_main_img img {
    width: 100%;
    height: auto;
    max-width: 430px;
    object-fit: cover;
}

/* MID MAIN */

.mid_main {
    max-width: 1424px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid_main_text {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mid_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 100%;
    height: auto;
}

.mid_main_content img {
    max-width: auto;
    max-height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.mid_main_content img:hover {
    transform: scale(1.03);
}

/* BOT MAIN */

.bot_main {
    max-width: 100%;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot_main_text {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bot_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 100%;
    height: auto;
}

.bot_main_content img {
    max-width: auto;
    max-height: auto;
    transition: transform 0.3s ease;
}

.bot_main_content img:hover {
    transform: scale(1.03);
}

/* FOOTER */

.footer {
    margin-top: 48px;
    width: 100%;
    height: 124px;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
}

.container_footer {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.faq_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    font-size: 20px;
}

.faq_list{
    display: flex;
    align-items: center;
    gap: 0 48px;
}

.faq{
    max-width: 961px;
    display: flex;
}

.social{
    max-width: 125px;
    gap: 0 8px;
    display: flex;
    align-items: center;
}

.social_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    transition: transform 0.3s ease;
}

.social_item:hover{
    transform: scale(1.03);
} 