 a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    color: black;
    font-size: 20px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #dedede; 
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 124px;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
}

.container_header {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu_item {
    max-width: auto;
    max-height: auto;
    display: flex;
    font-size: 20px;
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.menu_item:hover {
    opacity: 1;
}

.menu_item.not-hovered {
    opacity: 0.7;
}

.menu_list{
    display: flex;
    align-items: center;
    gap: 48px;
}

.user_actions{
    max-width: 90px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.user_actions_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;

    &:hover{
        opacity: 1;
    }
}

.user_actions_item.not-hovered{
    opacity: 0.7;
}

.search{
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
}

.search_icon{
    position: absolute;
    pointer-events: none;
}

.search_item {
    font: inherit;
    padding: 6px 12px 6px 35px;
    width: 90px;
    max-width: 300px;
    max-height: 24px;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    border: 1.5px solid #000;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    &:focus{
        width: 200px;
    outline: none;
    }
}

.logo_item{
    max-width: auto;
    max-height: auto;
    display: flex;
}

/* MAIN */

.container {
    max-width: 1424px;
    margin: 0 auto;
}

/* TOP MAIN */

.top_main {
    max-width: 900px;
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_main_text {
    max-width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.top_main_text h1 {
    white-space: nowrap;
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

.top_main_text p {
    font-size: 20px;
    max-width: 238px;
    line-height: 1.5;
    color: #000;
    text-align: center;
}

.top_main_text_btn{
    padding: 26px 65px;
    background-color: #fff;
    border-radius: 30px;
    font-family: "Alice", serif;
    font-size: 20px;
    border: 1.5px solid #000;
    opacity: 1;
    &:hover{
        opacity: 0.7;
    }
}

.top_main_text h1,
.top_main_text p {
    margin: 0;
}

.top_main_img img {
    width: 100%;
    height: auto;
    max-width: 430px;
    object-fit: cover;
}

/* MID MAIN */

.mid_main {
    max-width: 1424px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid_main_text {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mid_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 100%;
    height: auto;
}

.mid_main_content_item {
    max-width: auto;
    max-height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.03);
    }
}

/* BOT MAIN */

.bot_main {
    max-width: 100%;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot_main_text {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bot_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 100%;
    height: auto;
}

.bot_main_content_item {
    max-width: auto;
    max-height: auto;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.03);
    }
}

/* FOOTER */

.footer {
    margin-top: 48px;
    width: 100%;
    height: 124px;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
}

.container_footer {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.faq_item{
    max-width: auto;
    max-height: auto;
    display: flex;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.faq_item:hover {
opacity: 1;
}

.faq_item.not-hovered {
opacity: 0.7;
}

.faq_list{
    display: flex;
    align-items: center;
    gap: 0 48px;
}

.faq{
    max-width: 961px;
    display: flex;
}

.social{
    max-width: 125px;
    gap: 0 8px;
    display: flex;
    align-items: center;
}

.social_item{
    max-width: auto;
    max-height: auto;
    display: flex;
}