@font-face {
    font-family: "Alice";
    src: url(/src/fonts/Alice-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    color: #000;
    font-size: 20px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #dedede; 
    line-height: 1.2;
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 124px;
    padding: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
}

.container_header {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.logo{
    display: flex;
    user-select: none;
}

.menu{
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu_item {
    display: flex;
    font-size: 20px;
    color: #000;
    position: relative;

    &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Высота подчеркивания */
    background: #000; /* Цвет подчеркивания */
    transform: scaleX(0); /* Начальное состояние (не видно) */
    transition: transform 0.8s ease; /* Плавный переход */
    }

    &:hover::after{
        transform: scaleX(1);
    }   
}

.user_actions{
    gap: 8px;
    display: flex;
    align-items: center;
    user-select: none;
}

.user_actions_item{
    display: flex;
    opacity: 1;
    &:hover{
        opacity: 0.7;
    }
}

.search{
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.search_icon{
    position: absolute;
    pointer-events: none;
    display: flex;
    margin:1px 0 0 1px;
}

.search_item {
    font: inherit;
    display: flex;
    padding: 6px 12px 6px 35px;
    width: 90px;
    max-width: 200px;
    height: 26px;
    font-size: 18px;
    border-radius: 30px;
    border: 1.5px solid #000;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    &:focus{
        width: 200px;
        outline: none;
    }
}

/* MAIN */

.container {
    max-width: 1424px;
    margin: 0 auto;
}

.main h2{
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

.main h3{
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.main h4{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.product_box {
    background-color: white;
    border-radius: 30px;
    width: 320px;
    height: 452px;
    text-align: center; 
    padding: 0 28px 38px 28px;
    user-select: none;
    border: 2px solid transparent;
    transition: border-color 0.4s ease;
    &:hover {
    border-color: #000;
    }
}

/* ПРИВЕТСВЕННАЯ СЕКЦИЯ */

.welcome {
    max-width: 900px;
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome_text {
    max-width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.welcome_text h1 {
    white-space: nowrap;
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

.welcome_text h3 {
    max-width: 238px;
    text-align: center;
}

.welcome_btn{
    padding: 26px 65px;
    background-color: #fff;
    border-radius: 30px;
    font-family: "Alice", serif;
    font-size: 20px;
    user-select: none;
    border: 1.5px solid transparent;
    transition: border-color 0.4s ease;
    &:hover{
        border-color: #000;
    }
}

.welcome_img {
    width: 100%;
    max-width: 430px;
    object-fit: cover;
    user-select: none;
}

/* СЕКЦИЯ "ТОП ПРОДАЖ" */

.top_sale {
    max-width: 1424px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_sale h2 {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top_sale_content {
    display: flex;
    gap: 48px;
    margin-top: 24px;
}

/* СЕКЦИЯ "АКТУАЛЬНО" */

.relevant {
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relevant h2 {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.relevant_content {
    display: flex;
    gap: 48px;
    margin-top: 24px;
}

/* FOOTER */

.footer {
    margin-top: 48px;
    width: 100%;
    height: 124px;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.25);
}

.container_footer {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
}

.faq_list{
    display: flex;
    align-items: center;
    gap: 0 48px;
}

.faq_item{
    display: flex;
    position: relative;

    &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Высота подчеркивания */
    background: #000; /* Цвет подчеркивания */
    transform: scaleX(0); /* Начальное состояние (не видно) */
    transition: transform 0.8s ease; /* Плавный переход */
    }

    &:hover::after{
        transform: scaleX(1);
    }   
}

.social{
    max-width: 125px;
    gap: 0 8px;
    display: flex;
    align-items: center;
    user-select: none;  
}

.social_item{
    opacity: 1;
    &:hover{
        opacity: 0.7;
    }
}